<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ep.dao.mapper.TRechargeDetailMapper">

  <select id="selectTRechargeDetailByFilter" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM t_recharge_detail

    ORDER BY id
    <if test="filter.start != null and filter.size != null">
      limit #{filter.start}, #{filter.size}
    </if>
  </select>

  <select id="countTRechargeDetailByFilter" resultType="int">
    SELECT count(*) FROM t_recharge_detail

  </select>
</mapper>